body{
    background-color: #1B2FEA;
    overflow: hidden;
}

video{
    height: 100%;
    width: 100%;
}

.regresar{
    background: transparent;
    cursor:pointer;
    border:none;
}

button{
    display: block;
    padding: 20px;
}

.botones{
    position: absolute;
    right: 40%;
    bottom: 10px;
}

.btnimage{
    width: 200px;
    height: auto;
    border: none;
}