body{
    background-color: black
}

.mensaje{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.texto{
    position: absolute;
    right: 50%;
    top: 50%;
}

.logo{
    position: absolute;
    right: 70%;
    top: 70%;
}